{% load i18n %}
<p>{% blocktrans %}Please enter your new password twice.{% endblocktrans %}</p>
<form method="post">
    {% csrf_token %}
    <div>
        <label for="id_new_password1">{% trans "New password" %}:</label>
        <input type="password" name="new_password1" id="id_new_password1" required>
    </div>
    <div>
        <label for="id_new_password2">{% trans "New password confirmation" %}:</label>
        <input type="password" name="new_password2" id="id_new_password2" required>
    </div>
    <button type="submit">{% trans "Change my password" %}</button>
</form>
