{% extends "base.html" %}
{% load static i18n compress%}

{% block content %}

  <section class="hero">
    <div id="carouselExampleFade" class="carousel carousel-fade slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        {% for n in SliderData %}
            <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}" aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
            {% endfor %}
      </div>
      <div class="carousel-inner">
        {% for n in SliderData %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}"" data-bs-interval="5000">
          <img src="/media/{{n.slider_image}}" class="d-block w-100" alt="">
          <div class="carousel-caption">
            <div>

              <h1 class="text-capitalize heading text-light">{{ n.slider_heading|safe }}</h1>
              {% comment %} <h1 class="text-capitalize heading text-light">a community of <span class="text-main fw-bolder">lifelong </span> learning</h1> {% endcomment %}
              <a href="#program"><button class="btn text-light mt-4 fs-4 button  px-4 bg-main hover-button">View Programs</button></a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>


  <!-- college news section start -->
<section class="news py-5">
  <div class="fs-5 d-flex align-items-center justify-content-between pb-3 head container">
      <h1 class="heading"> <span class="border-bottom border-3 border-main">N</span>ews</h1>
      <a href="{% url 'news:NewsData' %}" class="navbar-brand fw-medium"> <span>View All</span><i class="fa-solid fa-circle-chevron-right text-second"></i></a>
  </div>
  <div class="body container">
      <div class="row  row-gap-4 justify-content-around">
        {% for department, news_item in latest_news.items %}
        <div class="col-lg-6">
          <div class="cards py-3 px-4 mx-1">
            <div class="text-center w-max bg-white rounded-2 float-end">
             <h5 class="bg-second text-white fw-normal py-2 px-4 text-capitalize">{{ news_item.created_at|date:"M" }}</h5>
             <h4 class="pt-2">{{ news_item.created_at|date:"d" }}</h4>
              <p>{{ news_item.created_at|date:"Y" }}</p>
            </div>
            <div class="w-50 p-3 mt-5">
             <h5><span class="border-bottom border-2">{{ news_item.news_heading|slice:":2"|upper }}</span>{{ news_item.news_heading|slice:"2:"|lower }}</h5>
            </div>
            <div>
              <p class="px-3 pt-3">{{ news_item.news_description|safe }}</p>
            </div>
            {% if news_item.news_image %}
            <a href="{{ news_item.news_image.url }}" target="_blank" style="text-decoration:none;">
                <div class="d-flex justify-content-end">
                    <button class="py-2 px-3 btn rounded btn-warning">
                        View Detail
                    </button>
                </div>
            </a>
            {% endif %}
        
    </div>
</div>
{% endfor %}

      </div>
  </div>
</section>
<!-- college news section end -->
 

   <!-- offerd program section start -->
   <section class="program container py-5" id="program">
 
    <h1 class="heading"> <span class="border-bottom border-3 mb-4 border-main">Of</span>fered Programs</h1> 
     <div class="row row-gap-4 mt-4">
      {% for program in ProgramData %}
 
       <div class="col-md-4">
         <img src="{{ program.image.url }}" class=" w-100" alt="..." style="height: 200px;">
         <div  class="container border pb-3">
           <h3 class="my-4"> <span class="border-bottom border-3">{{ program.heading|slice:":1"|upper }}</span>{{ program.heading|slice:"1:" }}</h3>
           <a href="{% url 'offered_program:program_detail' program.pk %}" class="btn bg-second text-white">Read More <i class="fa-solid fa-arrow-right-long"></i></a>

          </div>
       </div>
      
       {% endfor %}
 
     </div>
 
   </section>
   <!-- offerd program section end -->
 
   <!-- student Reviews section start -->
<section id="" class="py-5 container">
  <h1 class="heading">
      <span class="border-bottom border-3 border-main">St</span>udent Reviews
  </h1>
  <div id="carouselExampleCaptions" class="carousel slide carousel-fade">
      <div class="carousel-inner mt-4">
          {% for review in ReviewData %}
          <div class="carousel-item {% if forloop.first %}active{% endif %} bg-white">
              <div class="d-flex justify-content-center">
                  <img src="{{ review.image.url }}" class="d-block rounded-pill" alt="..." style="width: 100px; height: 100px; border: 4px solid #f0d801;">
              </div>
              <div class="text-center mt-3 px-5">
                  <h5>{{ review.name }}</h5>
                  <i class="text-second fw-semibold">{{ review.desigination }}</i>
                  <p>{{ review.message|safe }}</p>
              </div>
          </div>
          {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <i class="fa-solid fa-circle-chevron-left text-second heading" aria-hidden="true"></i>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <i class="fa-solid fa-circle-chevron-right text-second heading" aria-hidden="true"></i>
      </button>
  </div>
</section>
<!-- student Reviews section end -->

<!-- Modal -->
<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="exampleModalLabel">Govt. Graduate College Sheikhupura</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% for data in popUpData %}
        <p>{{ data.pop_up_desc }}</p>
        <p>{{ data.pop_up_link|safe }}</p>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        {% comment %} <button type="button" class="btn btn-primary">Save changes</button> {% endcomment %}
      </div>
    </div>
  </div>
</div>


{% endblock content %}